# OS
.DS_Store

# IDE
.idea/
.vscode/

# Dependencices
node_modules/
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*

# Builds
dist/

# Caches
.cache
cache
tmp/

# Logs
test-results.json
lint-results.json
yarn-error.log

# Coverage directories used by tools like istanbul
coverage
.nyc_output